

module.exports = {
    env: "sqa",
    key: "{VISTA KEY}",
    stationNo:"{STationNo}",
    duz:"{0000}",
    url:"",
    config:{
        clinics:[
                ["PULMO","SP","LUNG CLINIC","312"],
                ["PC","PC","PRIMARY CARE","323"],
                ["CARDIO","CAR","HEART CLINIC","402"],
                ["ECHO","ECHO","ECHO CLINIC","403"],
                ["MH","MH","THERAPIST","502"],
                ["DENTAL","DENT","DENTIST","45"],
                ["ENDOCRINE","ENDO","DIABETES","32"]

            ],
        base:"DEV/",
        start:12,
        each:10,
        default:[ "DEV/PULM/1", 
        "SP1",
        "LUNG CLINIC 1",
        "Y",
        "Y",
        "Y", 
        "M",
        "N",
        "VEHU DIVISION",
        "312",
        "REGULAR",
        "N",
        "555-555-5555",
        "N",
        "Y",
        "",
        "",
        "",
        "",
        "Y",
        "",
        "N",
        "",
        "N",
        "10", 
        "365",
        "Y",
        "",
        "",
        "SECOND FLOOR ROOM 2",
        "",
        "100",
        "",
        "Y",
        "Y",
        "30",
        "N",
        "30",
        "8"
        ],
        clinicien:[
             ],
        deviens:[
           ]
           }
   };