PORT=4010
TOKEN_SERVER_URL=http://localhost:3000
VISTA_API_BASE_URL=https://cds.med.va.gov/vista-api-x
VISTA_API_KEY=
VISTA_SITE_ID=605
CWS_API_BASE_URL=https://staff.apps-staging.va.gov/cws-api/v1
NODE_TLS_REJECT_UNAUTHORIZED=1
